{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Chuyển ETH cho {{user_id}}
{% endblock %}

{% block head %}
{{super()}}
<style>
    body{/*background-color: #0093E9;*/
background-image: url('https://drive.google.com/thumbnail?id=1k6Hj4mdYrcytLxst-907hkSmlrxPV12U');
/* Position and center the image to scale nicely on all screens */
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
  position: relative;
 /* background-size: cover;
  position: relative;*/}

    .btn:hover{
        transform: scale(1.02);
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1 class="text-dark title is-1">Chuyển ETH cho {{user_id}}</h1>
    <br>
    <div class="card shadow" style="border-radius: 5px; margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background: rgba( 255, 255, 255, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius:10px;" >
      <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data" style="width:100%;">
            {{form.name.label}}
            {{form.name()}}
            <br>
            {{form.a.label}}
            {{form.a()}}
            <br>
            {{form.b.label}}
            {{form.b()}}
            <br>
            {{form.c.label}}
            {{form.c()}}
            <br>
            {{form.d.label}}
            {{form.d()}}
            <br>
            {{form.ans.label}}
            {{form.ans()}}
          <button type="submit" id="btn" class="btn w-100"  style="width:100%;
            background: rgba(0, 147, 233, 0.14);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(12.7px);
            -webkit-backdrop-filter: blur(12.7px);;margin-top: 10px;margin-bottom: 10px;color:#fff;border-radius:5px;">Chuyển</button>
      </form>
       </div>
  </div>
</div>
{% endblock %}